<div class="row d-flex justify-content-center align-items-center m-0">
  <div (click)="goToArtist(item)" class="card col-3 m-3 puntero" style="width: 18rem" *ngFor="let item of items">
    <img [src]="item.images | noimage" class="card-img-top" alt="item.name" />
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        <span
          *ngFor="let artist of item.name.artists"
          class="badge rounded-pill bg-success"
          >{{ artist.name }}</span
        >
      </p>
    </div>
  </div>
</div>
